/* Homepage hero: transparent header overlay until scroll */
.template-index .header-wrapper {
  background-color: transparent !important;
  margin-bottom: -160px;
}

.template-index .header__menu-item,
.template-index .header__active-menu-item {
  color: rgb(255 255 255 / 75%);
}

.template-index.chelas-header-scrolled .header-wrapper {
  background-color: rgb(var(--color-background)) !important;
  transition: background-color 0.3s ease-in-out;
}
.template-index.chelas-header-scrolled  .header__menu-item,
.template-index.chelas-header-scrolled  .header__active-menu-item   {
  color:rgba(var(--color-foreground), 0.75)
}
